.radio-toolbar {
  margin: 0px 0 0 0px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #fefefe;
  height: 46px;
  margin: 0 16px 16px 0px;
  padding: 12px 16px 0px 16px;

  border-radius: 4px;
  border: solid 1px #b8b8b8;

  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #6c6c6c;
}

.radio-toolbar label:hover {
  background-color: #f5f5f5;
}

.radio-toolbar input[type="radio"]:focus + label {
  border: none;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #c4d3d6;
  border-color: none;
}
.my-input-class {
  width: 580px !important;
  margin: 8px 32px !important;
  padding: 0 16px !important;
  height: 48px !important;
  border: solid 1px #979797 !important;
  border-radius: 0.2em !important;
  font-size: 1.2em !important;
}
@media only screen and (max-width: 480px) {
  .radio-toolbar label {
    font-size: 16px;
    margin: 0 10px 16px 10px;
    padding: 8px 16px 8px 16px;
  }
  .my-container-class {
    width: 280px;
  }
  .my-input-class {
    max-width: 320px !important;
    width: 270px !important;
  }
}

.slick-prev {
  left: 0 !important;
  z-index: 1000 !important;
}
.slick-prev:before {
  content: "" !important;
}
.slick-next {
  right: 0 !important;
  z-index: 1000 !important;
}
.slick-next:before {
  content: "" !important;
}

.center .slick-center h3 {
  opacity: 1;
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #fefefe;
  cursor: pointer;
  border-bottom: 1px solid #eaeef2;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  background: #fefefe;
  border-bottom: 4px solid #febd55;
}

button {
  border: none;
}

.content {
  background: #fefefe;
  padding: 120px 0 0 0;
  width: 100%;
  height: 100%;
  display: none;
}

.active-content {
  display: block;
}
